@font-face {
  font-family: myFirstFont;
  src: url(/assets/font-avenir-lt-pro/AvenirLTProLight.otf);
}
@font-face {
  font-family: myFirstFontBlack;
  src: url(/assets/font-avenir-lt-pro/AvenirLTProBlack.otf);
}
* {
  font-family: myFirstFont;
}
/* Start header section */
.top-content {
  background: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  position: relative;
  height: 690px;
}
@media only screen and (max-width: 750px) {
  .top-content {
    height: auto;
  }
}
.pictures-banner {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  z-index: 1;
}
.polaroid-3 {
  background-image: url("/assets/images/first-section/homepage-polaroids-left.png");
  width: 20%;
}
.rocket-image {
  background-image: url("/assets/images/first-section/rocket.png");
  width: 18%;
  margin: 39px 0 0px;
  right: 28%;
  max-height: 94%;
}
.polaroid-2 {
  background-image: url("/assets/images/first-section/homepage-polaroids-right.png");
  width: 31%;
  right: 0%;
}
@media only screen and (max-width: 1440px) {
  .polaroid-3 {
    width: 25%;
    left: -137px;
    top: -18px;
  }
  .rocket-image {
    width: 26%;
    margin: 38px 0 0px;
    right: 18%;
    max-height: 94%;
  }
  .polaroid-2 {
    width: 42.5%;
    right: 0;
  }
}
@media only screen and (max-width: 800px) {
  .polaroid-3 {
    width: 46%;
    left: -160px;
  }
  .rocket-image {
    width: 45%;
    margin: 39px 0 0px;
    right: 12%;
    max-height: 94%;
  }
  .polaroid-2 {
    width: 63%;
    right: 0;
  }
}
@media only screen and (max-width: 500px) {
  .polaroid-3 {
    display: none;
  }
  .rocket-image {
    width: 109%;
    margin: 39px 0 0px;
    right: 5%;
    max-height: 95.5%;
  }
  .polaroid-2 {
    display: none;
  }
}
.banner {
  padding: 60px 100px 157px;
}
@media only screen and (max-width: 1440px) {
  .banner {
    padding: 78px 50px;
  }
}
@media only screen and (max-width: 800px) {
  .banner {
    padding: 50px 0px;
  }
}
@media only screen and (max-width: 500px) {
  .banner {
    padding: 24px 24px;
  }
}
.text-banner-title {
  padding-bottom: 100px;
}
@media only screen and (max-width: 500px) {
  .text-banner-title {
    padding-bottom: 24px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .text-banner-title div img {
    width: 40%;
  }
}
.text-banner-article {
  padding: 0;
}
@media only screen and (min-width: 500px) and (max-width: 800px) {
  .text-banner-article {
    padding-right: 24px;
  }
}
.text-banner-article h2 {
  text-transform: uppercase;
  font-family: myFirstFontBlack;
  font-size: 54px;
  width: 100%;
  margin: auto;
  letter-spacing: 0.05em;
}
.text-banner-article p {
  width: 95%;
}
@media only screen and (max-width: 1440px) {
  .text-banner-article p {
    width: 102%;
  }
}
@media only screen and (max-width: 800px) {
  .text-banner-article h2 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 500px) {
  .text-banner-article h2 {
    font-size: 32px;
    text-align: center;
  }
  .text-banner-article p {
    text-align: center;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .form-banner {
    margin-left: 58px;
    margin-right: 38px;
  }
}
@media only screen and (max-width: 1440px) {
  .form-banner {
    margin-left: 58px;
  }
}
@media only screen and (max-width: 800px) {
  .form-banner {
    margin-left: 0;
  }
}
@media only screen and (max-width: 500px) {
  .form-banner {
    margin-left: 0px;
  }
}
.form {
  display: block;
  width: 100%;
  padding: 10px 14px;
  line-height: 1.5;
  color: #575757;
  background-color: #fff;
  border: 0px solid;
}
.button {
  color: #fff;
  font-family: myFirstFontBlack;
  font-size: 16px;
  text-transform: uppercase;
}
.btn-banner {
  background: #a288a8;
  border: 0px solid;
  padding: 14px 51px;
  width: 164px;
  height: 50px;
}
.btn-banner:hover {
  text-decoration-line: underline;
  color: #f2f2f2;
  transition: 0.9s;
}
.text-banner-form {
  padding: 0;
}
.text-banner-title,
.text-banner-article,
.text-banner-form {
  z-index: 2;
}

/* End header section */

/* Start main section */
.image-container-top {
  background: #ffffff;
  height: 62px;
}
.image-second-section-container-top {
  background-image: url(/assets/images/second-section/abstract-top.png);
  background-position: right;
  background-position-x: 18%;
  background-repeat: no-repeat;
  height: 64px;
  width: 100%;
  animation-name: animate-image-second-section-top;
  animation-duration: 6s;
}
/* Add Animation */
@-webkit-keyframes animate-image-second-section-top {
  from {
    background-position-x: 100%;
  }
  to {
    background-position-x: 18%;
  }
}
@media only screen and (max-width: 1440px) {
  .image-second-section-container-top {
    background-position-x: -13%;
  }
  /* Add Animation */
  @-webkit-keyframes animate-image-second-section-top {
    from {
      background-position-x: 100%;
    }
    to {
      background-position-x: -13%;
    }
  }
}
.background-section-top {
  background-color: #fafafa;
  padding: 3.5rem 0;
}
.image-second-section-right {
  background-image: url(/assets/images/second-section/three-long-lines.png);
  background-position: right;
  background-position-y: 80%;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1024px) {
  .image-second-section-right {
    background-image: none;
  }
}
.text-second-section {
  width: 100%;
  max-width: 540px;
}
.title-second-section {
  color: #ac5a5a;
  font-family: myFirstFontBlack;
  font-size: 36px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-bottom: 24px;
}
.article-second-section {
  color: #6a6a6a;
  line-height: 26px;
  width: 100%;
}
@media only screen and (max-width: 500px) {
  .article-second-section,
  .title-second-section,
  .button-second-section {
    text-align: center;
  }
}
.button-second-section {
  padding: 0;
}
.button-left {
  background: #a288a8;
  border: 0px solid;
  height: 50px;
  padding: 14px 51px;
  width: 216px;
}
.button-right {
  background-color: white;
  border: 2px solid;
  color: #a288a8;
  height: 50px;
  padding: 14px 48px;
  width: 216px;
}
.image-second-section img {
  width: 100%;
  max-width: 540px;
}
@media only screen and (max-width: 1440px) {
  .image-second-section {
    width: auto;
  }
}
.second-section-bottom {
  padding-top: 94px;
}
.image-second-section-container-middle {
  background-image: url(/assets/images/second-section/abstract-middle.png);
  background-position: right;
  background-position-x: 82%;
  background-repeat: no-repeat;
  height: 64px;
  width: 100%;
  animation-name: animate-image-second-section-middle;
  animation-duration: 6s;
}
/* Add Animation */
@-webkit-keyframes animate-image-second-section-middle {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 82%;
  }
}
@media only screen and (max-width: 1440px) {
  .image-second-section-container-middle {
    background-position-x: 110%;
  }
  /* Add Animation */
  @-webkit-keyframes animate-image-second-section-middle {
    from {
      background-position-x: 0%;
    }
    to {
      background-position-x: 110%;
    }
  }
}
.card-row {
  max-width: 1110px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 154px;
  padding: 0;
}
.top-image-card {
  background-image: url(/assets/images/second-section/two-lines.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  height: 40px;
  position: absolute;
  top: -5%;
  width: 100%;
  z-index: 2;
}
.card-section {
  border-radius: 0px;
  margin: auto;
  max-width: 330px;
  height: 350px;
}
.box {
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.box:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.card-title {
  font-family: myFirstFontBlack;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.05em;
  padding-top: 56px;
}
.card-subtitle {
  color: #828282;
  text-transform: uppercase;
}
.card-text {
  color: #000000;
  font-size: 16px;
  line-height: 26px;
  padding: 8px 14px 45px 10px;
}
.card-right {
}
.card-center {
}
.card-left {
}
@media only screen and (max-width: 768px) {
  .card-right {
    margin: auto;
  }
}
.city-section {
  position: relative;
}
.background-section-bottom {
  background-image: url(/assets/images/second-section/pectangle-city.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 960px 1025px;
  height: 100%;
  opacity: 0.2;
  position: absolute;
  width: 100%;
}
@media only screen and (max-width: 1440px) {
  .background-section-bottom {
    background-position: 166%;
  }
}
@media only screen and (max-width: 768px) {
  .background-section-bottom {
    display: none;
  }
}
.image-second-section-bottom {
  background-image: url(/assets/images/second-section/abstract-right.png);
  background-position: right;
  background-repeat: no-repeat;
  height: 541px;
  width: 100%;
  position: absolute;
  top: 46%;
  animation-name: image-second-section-bottom;
  animation-duration: 6s;
}
/* Add Animation */
@-webkit-keyframes image-second-section-bottom {
  from {
    top: 0%;
  }
  to {
    top: 46%;
  }
}
.image-second-section-left {
  background-image: url(/assets/images/second-section/abstract-left.png);
  background-repeat: no-repeat;
  height: 541px;
  width: 100%;
  position: absolute;
  z-index: -1;
  animation-name: animate-image-second-section-left;
  animation-duration: 6s;
}
/* Add Animation */
@-webkit-keyframes animate-image-second-section-left {
  from {
    top: 20%;
  }
  to {
    top: 0%;
  }
}
.image-container-bottom {
  margin: 0 auto;
  overflow: hidden;
  height: auto;
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .image-container-bottom img {
    width: 100%;
  }
}
@media only screen and (max-width: 1440px) {
  .image-container-bottom img {
    margin-left: -21%;
  }
}
@media only screen and (max-width: 768px) {
  .image-container-bottom img {
    margin-left: -75%;
  }
}
@media only screen and (max-width: 500px) {
  .image-container-bottom img {
    margin-left: 0;
    width: 100%;
  }
}
/* End main section */

/* Start section footer */
.background-footer {
  background: black;
  height: 487px;
}
.text-footer-title {
  padding: 42px 0 30px 0;
}
@media only screen and (min-width: 360px) and (max-width: 500px) {
  .text-footer-title img {
    width: 30%;
  }
}
.copyright {
  color: #ffffff;
  text-align: center;
  margin: 0;
}
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.social-icons {
  margin: 0;
}
@media only screen and (min-width: 800px) and (max-width: 1440px) {
  .text-footer-title,
  .copyright,
  .image-bottom {
    display: none;
  }
  .social-icons {
    padding: 240px 0 139px 0;
  }
}
.icon-facebook {
  background-image: url(/assets/images/third-secion/facebook.svg);
}
.icon-facebook:hover,
.icon-facebook:focus {
  background-image: url(/assets/images/third-secion/facebook-over.svg);
  transition: 0.9s;
}
.icon-youtube {
  background-image: url(/assets/images/third-secion/youtube.svg);
}
.icon-youtube:hover,
.icon-youtube:focus {
  background-image: url(/assets/images/third-secion/youtube-over.svg);
  transition: 0.9s;
}
.icon-linkedin {
  background-image: url(/assets/images/third-secion/linkedin.svg);
}
.icon-linkedin:hover,
.icon-linkedin:focus {
  background-image: url(/assets/images/third-secion/linkedin-over.svg);
  transition: 0.9s;
}
/* End section footer */
/* Modal-form; */
.modal {
  padding-top: 100px;  
  background-color: rgba(0,0,0,0.8);  
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #a288a8;
  text-decoration: none;
  cursor: pointer;
}
/* /Modal-form */