@font-face {
  font-family: myFirstFont;
  src: url(/assets/font-avenir-lt-pro/AvenirLTProLight.otf);
}
@font-face {
  font-family: myFirstFontBlack;
  src: url(/assets/font-avenir-lt-pro/AvenirLTProBlack.otf);
}
* {
  font-family: myFirstFont;
}
/* Start header section */
.top-content {
  background: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  position: relative;
  height: 690px;
}
@media only screen and (max-width: 750px) {
  .top-content {
    height: auto;
  }
}
.pictures-banner {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  z-index: 1;
}
.polaroid-3 {
  background-image: url("/assets/images/first-section/homepage-polaroids-left.png");
  width: 20%;
}
.rocket-image {
  background-image: url("/assets/images/first-section/rocket.png");
  width: 24%;
  right: 25%;
}
.polaroid-2 {
  background-image: url("/assets/images/first-section/homepage-polaroids-rigth.png");
  width: 31%;
  right: 0%;
}
@media only screen and (max-width: 1440px) {
  .polaroid-3 {
    width: 25%;
    left: -137px;
    top: -18px;
  }
  .rocket-image {
    width: 35%;
    right: 14%;
  }
  .polaroid-2 {
    width: 42.5%;
    right: 0;
  }
}
@media only screen and (max-width: 800px) {
  .polaroid-3 {
    width: 46%;
    left: -160px;
  }
  .rocket-image {
    width: 50%;
    right: 21%;
  }
  .polaroid-2 {
    width: 63%;
    right: 0;
  }
}
@media only screen and (max-width: 500px) {
  .polaroid-3 {
    display: none;
  }
  .rocket-image {
    width: 152%;
    right: 6%;
  }
  .polaroid-2 {
    display: none;
  }
}
.banner {
  padding: 60px 130px 157px;
}
@media only screen and (max-width: 1440px) {
  .banner {
    padding: 78px 50px;
  }
}
@media only screen and (max-width: 800px) {
  .banner {
    padding: 50px 0px;
  }
}
@media only screen and (max-width: 500px) {
  .banner {
    padding: 24px 24px;
  }
}
.text-banner-title {
  padding-bottom: 100px;
}
@media only screen and (max-width: 500px) {
  .text-banner-title {
    padding-bottom: 24px;
  }
}
.text-banner-article {
  padding: 0;
}
@media only screen and (max-width: 800px) {
  .text-banner-article {
    padding-right: 24px;
  }
}
.text-banner-article h2 {
  text-transform: uppercase;
  font-family: myFirstFontBlack;
  font-size: 54px;
  width: 100%;
  margin: auto;
  letter-spacing: 3px;
}
.text-banner-article p {
  width: 100%;
  margin: auto;
}

@media only screen and (max-width: 800px) {
  .text-banner-article h2 {
    font-size: 32px;
    text-align: center;
  }
  .text-banner-article p {
    text-align: center;
  }
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
  .text-banner-title div img{
    width: 40%;
  }
}
@media only screen and (min-width: 1320px) and (max-width: 1920px) {
  .form-banner {
    width: 464px;
    margin-left: 68px;;
  }
}
.form {
  display: block;
  width: 100%;
  padding: 10px 14px;
  line-height: 1.5;
  color: #575757;
  background-color: #fff;
  border: 0px solid;
}
.button {
  background: #a288a8;
  border: 0px solid;
  color: #fff;
  font-family: myFirstFontBlack;
  font-size: 16px;
  padding: 14px 51px;
  width: 164px;
  height: 50px;
}
.text-banner-form {
  padding: 0;
}
.text-banner-title,
.text-banner-article,
.text-banner-form {
  z-index: 2;
}

/* End header section */

/* Start main section */

/* End main section */

/* Start section footer */

/* End section footer */
